.tabs {
   --tabsBodyRowGap: 0;
   --tabsNonActiveContentDisplay: none;
}

.tabs--enable-only-on-mobile {
   @include mobile-above {
      --tabsNonActiveContentDisplay: block;
      --tabsNavigationDisplay: none;
   }
}

.tabs__body {
   display: grid;
   row-gap: var(--tabsBodyRowGap);
}

.tabs__content:not(.is-active) {
   display: var(--tabsNonActiveContentDisplay);
}
