.tabs {
   --tabsNonActiveContentDisplay: none;
}

.tabs--enable-only-on-mobile {
   @include mobile-above {
      tabsNonActiveContentDisplay: block;
      --tansNavigationDisplay: none;
   }
}

.tabs__content:not(.is-active) {
   display: var(--tabsNonActiveContentDisplay);
}


