.category-card {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: fluid(30, 20);
   border: var(--border);
   border-radius: var(--border-radius-l);
   background-color: var(--color-black-10);

   @include laptop {
      border-radius: var(--border-radius-m);
   }

   &:focus-visible {
      outline-offset: -2px;
   }
}

.category-card__images {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5px;

   &::after {
      @include abs-cover;

      content: "";
      background-image: linear-gradient(
         180deg,
         rgba(26, 26, 26, 0) 0%,
         var(--color-black-10) 101.79%
      );
      opacity: var(--categoryCardImagesGradientOpacity);
      transition-duration: var(--transition-duration);
   }
}

.category-card__image {
   object-fit: cover;
   width: 100%;

   border-radius: var(--border-radius-m);

   @include laptop {
      border-radius: var(--border-radius-xs);
   }
}

.category-card__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 10px;
}

.category-card__title {
   z-index: 10;
   font-size: inherit;
   font-weight: 600;
}

.category-card__icon {
   &.icon {
      --iconSize: #{fluid(30, 20)};
   }
}

//animation arrow  card
@media (any-hover: hover) {
   .category-card__icon {
      position: relative;
      left: -100%;
      opacity: 0;
      filter: blur(10px);
      transition: 0.5s ease;
   }
}
@media (any-hover: hover) {
   .category-card:hover .category-card__icon {
      left: 0;
      opacity: 1;
      filter: blur(0);
   }
}
