.person-card {
}

.person-card:has(.person-card__body) {
   display: flex;
   align-items: center;
   column-gap: fluid(10, 8);
   padding: fluid(14, 10);
   background-color: var(--color-black-08);
   border: var(--border);
   border-radius: var(--border-radius-s);

   .person-card__image {
      width: fluid-to-laptop(57, 47);
      border-radius: var(--border-radius-s);
   }

   @include laptop {
      border-radius: var(--border-radius-xs);
   }
}

.person-card__image {
   &:only-child {
      width: fluid(102, 70);
      height: fit-content;
      border: 1px solid transparent;
      border-radius: var(--border-radius-l);
      transition-duration: var(--transition-duration);

      @include laptop {
         border-radius: var(--border-radius-m);
      }

      @include hover {
         border-color: rgba(255, 255, 255, 0.5);
      }
   }
}

.person-card__name {
   font-size: fluid(18, 16);
   font-weight: 500;
}
