.device-card {
   display: grid;
   row-gap: fluid(30, 20);
   padding: fluid(50, 24);
   border: 1px solid var(--color-black-15);
   border-radius: var(--border-radius-l);
   background: linear-gradient(
         222deg,
         rgba(229, 0, 0, 0.5) -208.03%,
         rgba(229, 0, 0, 0) 41.32%
      ),
      var(--color-black-06);
   @include laptop {
      border-radius: var(--border-radius-m);
   }
}

@supports (-moz-appearance: none) {
   .device-card {
      background: var(--color-black-06);
   }
}

.device-card__header {
   display: flex;
   align-items: center;
   column-gap: fluid(16, 10);
}

.device-card__image-wrapper {
   @include flex-center;
   @include square(fluid(72, 24));
   background-color: var(--color-black-88);
   border: var(--border-width-s) solid var(--color-black-12);
   border-radius: var(--border-radius-l);

   @include laptop {
      border-radius: var(--border-radius-m);
   }

   @include mobile {
      border-radius: var(--border-radius-s);
   }
}

.device-card__image {
   width: 55%;
   object-fit: contain;
}

